/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


@import 'ngx-toastr/toastr';

/* @import 'ngx-toastr/toastr-bs4-alert'; */

/* @import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins'; */
/* @import 'ngx-toastr/toastr-bs4-alert'; */
/* // boostrap 5 */
@import 'ngx-toastr/toastr-bs5-alert';

.bg-primary{
  background-color: #725DB4
}

.primary{
  color:#725DB4
}


.b-primary{
  color: #725DB4
}
