<!-- property-card.component.html -->
<div
  class="bg-white rounded-lg overflow-hidden shadow-md hover:shadow-lg transition-shadow duration-300 cursor-pointer"

>
  <div class="relative">
    <span
      class="absolute top-3 right-3 bg-white/90 text-gray-800 px-2 py-1 rounded text-xs font-medium shadow-sm"
      [ngClass]="{
        'bg-green-100 text-green-800': property.propertyType === 'Sale',
        'bg-blue-100 text-blue-800': property.propertyType === 'Rent'
      }"
    >
      {{ property.propertyType || 'N/A' }}
    </span>
    <img
      [src]="property.mainImage || './assets/images/default-property.jpg'"
      [alt]="property.title"
      class="h-48 w-full object-cover rounded-lg"
       />

  </div>
  <div class="p-4 md:p-6">
    <div class="flex justify-between items-start mb-2">
      <h3 class="text-lg font-bold text-gray-900">
        {{ property.price | currency:'USD':'symbol':'1.0-0' }}
      </h3>
      <span *ngIf="property.isFeatured" class="bg-yellow-100 text-yellow-800 text-xs px-2 py-1 rounded">
        Featured
      </span>
    </div>
    <p class="text-gray-600 text-sm mb-3">
      {{ property.address?.street }} {{ property.address?.city }} {{ property.address?.country }}
    </p>
    <div class="flex justify-between items-center">
      <button
        class="px-0 bottom-0 py-1 md:px-0 md:py-2 bg-white/90 text-gray-800 rounded-md
           hover:bg-gray-300 text-sm  transition-colors cursor-pointor"
        (click)="navigateToDetails(property)"
      >
        <div class="flex flex-row justify-between items-center gap-4 shadow-lg rounded-lg p-2">
          View Details
          <ng-icon name="heroArrowRight"/>
        </div>

      </button>
      <div class="flex space-x-3 text-gray-700 text-sm">
        <span class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 mr-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            />
          </svg>
          {{ property.bedrooms }} Beds
        </span>
        <span class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 mr-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
            />
          </svg>
          {{ property.bathrooms }} Baths
        </span>
      </div>
    </div>
  </div>
</div>
