<div class="min-h-screen flex flex-col items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="text-center">
    <h2 class="text-2xl font-bold text-gray-800 mb-2">
      <span class="login-title">Login As_User</span>
    </h2>
  </div>
  <div class="max-w-lg w-full bg-white px-6 py-4 rounded-2xl border-2 border-purple-400">
    <form [formGroup]="loginForm" (ngSubmit)="login($event)" class="mt-8 space-y-6">
      <div class="space-y-4">
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Email/Username</label>
          <input
            id="email"
            formControlName="email"
            name="email"
            type="text"
            required
            class="mt-1 block w-full  py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
          />

          <div
            *ngIf="emailFormControl.invalid && (emailFormControl.dirty || emailFormControl.touched)"
          >
            <div *ngIf="emailFormControl.errors?.['required']" class="text-red-500 text-sm">
              Email is required.
            </div>
            <div *ngIf="emailFormControl.errors?.['email']" class="text-red-500 text-sm">
              Please enter a valid email address.
            </div>
          </div>
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
          <input
            id="password"
            formControlName="password"
            name="password"
            type="password"
            required
            class="mt-1 block w-full  py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
          />
          <div
            *ngIf="
              passwordFormControl.invalid &&
              (passwordFormControl.dirty || passwordFormControl.touched)
            "
          >
            <div *ngIf="passwordFormControl.errors?.['required']" class="text-red-500 text-sm">
              Password is required.
            </div>
            <div *ngIf="passwordFormControl.errors?.['minlength']" class="text-red-500 text-sm">
              Password must be at least 6 characters long.
            </div>
          </div>
        </div>
        <div class="flex items-center">
          <input
            id="remember-me"
            name="remember-me"
            type="checkbox"
            class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
          />
          <label for="remember-me" class="ml-2 block text-sm text-gray-700">Remember Me</label>
        </div>
      </div>

      <div *ngIf="errorMessage" class="text-sm text-red-600">
        {{ errorMessage }}
      </div>
      <div>
        <button
          type="submit"
          [disabled]="loginForm.invalid || isLoading"
          class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm cursor-pointor
           text-sm font-medium text-white bg-purple-700 hover:bg-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        >
          <span *ngIf="isLoading">Logging in...</span>
          <span *ngIf="!isLoading">Login</span>
        </button>
      </div>
    </form>
    <div class="mt-4 text-center text-sm text-gray-600 flex justify-between mx-6">
      You don't have an account?
      <a [routerLink]="['/auth/register']" class="font-medium text-purple-700 hover:text-purple-700"
        >Create Account</a
      >
    </div>
  </div>
</div>
